.side-bar {
  width: 218px;
  flex-shrink: 0;
}
.board {
  width: 70%;
  padding: 20px;
  border: 1px solid #dedede;
}
.page {
  display: flex;
  width: 100%;
}
.all-summary {
  margin-top: 50px;
}
.summary {
  padding: 20px;
  background-color: white;
  width: 50%;
}
.checkers {
  color: #888585;
}
